body {
  margin: 0px;
}
@media screen and (min-width: 499px) {
  body {
    background-color: blueviolet;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-color: chocolate;
  }
}

.head {
  background: #579c87ff;
  color: #fdcb46ff;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head__text {
  background: #579c87ff;
  color: #fdcb46ff;
  font-family: roboto;
  text-decoration: none;
}
.head a:hover {
  background: #fdc83c;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 499px) {
  .head__text {
    background: #579c87ff;
    color: #fdcb46ff;
    font-family: roboto;
    text-decoration: none;
    font-size: 1.5em;
  }
}

.foot {
  background: #579c87ff;
  color: #fdcb46ff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  margin-top: 10px;
}
.foot__text {
  background: #579c87ff;
  color: #fdcb46ff;
  font-family: roboto;
  font-size: 1em;
  padding: 0em 1em 0em 1em;
}
@media screen and (min-width: 499px) {
  .foot__text {
    font-size: 1.2em;
    padding: 0em 2em 0em 2em;
  }
}

a {
  text-decoration: none;
}

.prochainement {
  background: #579c87ff;
  color: #fdcb46ff;
  font-family: roboto;
  border-radius: 5px;
  width: 60%;
  height: 2.5em;
  margin: 0px auto 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 499px) {
  .prochainement {
    width: 50%;
  }
}
.prochainement span {
  font-size: 1em;
}

.menublock {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 499px) {
  .menublock {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}

.menu {
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  width: 80%;
  height: 30em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 499px) {
  .menu {
    height: 20em;
  }
}
.menu__note {
  font-family: Devonshire, cursive;
  border-radius: 5px;
  height: 100%;
  margin: auto;
  background: #f8e5e1;
  align-items: center;
}
.menu__note h3 {
  font-weight: 300;
  color: #3d1319;
  font-size: 24px;
}
.menu__note h2 {
  font-weight: 300;
  color: #3d1319;
  font-family: tillana, cursive;
  font-size: 30px;
}
.menu__note img {
  width: 20%;
  height: auto;
  margin-top: 5rem;
}
.menu__note a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.menu__chic {
  font-family: Croissant One;
  border-radius: 5px;
  height: 100%;
  margin: auto;
  background: #fff5fe;
  position: relative;
}
.menu__chic h3 {
  color: #c77529;
  background: linear-gradient(to right, #c77529 0%, #6e4ccc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin-top: 8em;
}
.menu__chic h2 {
  color: #c77529;
  background: linear-gradient(to right, #c77529 0%, #6e4ccc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: tillana, cursive;
  font-size: 30px;
}
.menu__chic a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}
.menu__delice {
  font-family: parisienne;
  border-radius: 5px;
  height: 100%;
  margin: auto;
  background: #edefef;
  position: relative;
}
.menu__delice h3 {
  color: #3a4fa2;
  background: linear-gradient(to right, #3a4fa2 0%, #4e96d1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin-top: 7em;
}
.menu__delice h2 {
  color: #3a4fa2;
  background: linear-gradient(to right, #3a4fa2 0%, #4e96d1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: tillana, cursive;
  font-size: 30px;
}
.menu__delice a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}
.menu__palette {
  font-family: Kaushan script;
  border-radius: 5px;
  height: 100%;
  margin: auto;
  background: #fdfffd;
  position: relative;
}
.menu__palette h3 {
  color: #57a746;
  background: linear-gradient(to right, #57a746 0%, #c2db76 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin-top: 7em;
}
.menu__palette h2 {
  color: #57a746;
  background: linear-gradient(to right, #57a746 0%, #c2db76 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: tillana, cursive;
  font-size: 30px;
}
.menu__palette a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}

.note {
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  width: 80%;
  padding: 1em 0em 1em 0em;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: #3d1319;
  background: #f8e5e1;
  font-family: tillana, cursive;
  font-size: 0.8em;
}
.note__title {
  font-size: 2.5em;
  font-family: devonshire, cursive;
  font-weight: 300;
  margin-top: 0;
  padding: 15px;
  text-align: center;
}
.note__undertitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.1em;
}
.note__undertitle img {
  width: 30%;
}
.note__imgtop {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.note__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 300;
  font-family: devonshire, cursive;
}
.note ul {
  list-style: none;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  font-style: italic;
}
.note__price {
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.palette {
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  width: 80%;
  padding: 1em 0em 1em 0em;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  background: #fdfffd;
  font-family: tillana, cursive;
  font-size: 0.8em;
}
.palette__title {
  color: #57a746;
  background: linear-gradient(to right, #57a746 0%, #c2db76 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Kaushan script;
  font-size: 2em;
  text-align: center;
}
.palette__undertitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: tillana, cursive;
  font-size: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.palette img {
  width: 30%;
}
.palette ul {
  list-style: none;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  font-style: italic;
}
.palette__price {
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.chic {
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  width: 80%;
  padding: 1em 0em 1em 0em;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff5fe;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
}
.chic__title {
  color: #c77529;
  background: linear-gradient(to right, #c77529 0%, #6e4ccc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Croissant One;
  font-size: 1.8em;
  text-align: center;
}
.chic__undertitlestart {
  color: #c77529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.chic__undertitlemain {
  color: #a56799;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.chic__undertitledessert {
  color: #6e4ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.chic img {
  width: 30%;
}
.chic__starter {
  list-style: none;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  font-style: italic;
  color: #c77529;
}
.chic__maincourse {
  list-style: none;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  font-style: italic;
  color: #a56799;
}
.chic__dessert {
  list-style: none;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  font-style: italic;
  color: #6e4CCC;
}
.chic__price {
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.delice {
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  width: 80%;
  padding: 1em 0em 1em 0em;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  background: #edefef;
  font-family: tillana, cursive;
  font-size: 0.8em;
}
.delice__title {
  color: #3a4fa2;
  background: linear-gradient(to right, #3a4fa2 0%, #4e96d1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: parisienne;
  font-size: 2em;
  text-align: center;
}
.delice__undertitle {
  font-family: tillana, cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.delice img {
  width: 30%;
}
.delice ul {
  list-style: none;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  font-style: italic;
}
.delice__price {
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=style.css.map */
