//---------------Feuille de style OHMYFOOD---------------//
//-----Methodologie BEM et  preprocesseur Sass-----------//
//--------Couleurs de base - vert:#579c87ff--------------//
//------------------------ - jaune:#fdcb46ff-------------//
//-------------------Mobile_first------------------------//

@import "./utils/variables";

body {
  margin: 0px;
}
.mention {
  width:60%;
  margin: 4em auto 10em auto;
  font-family: roboto;
  text-align: center;
}
.head {
  @include basic_color;
  width: 100%;
  height: 16vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive("medium"){
  height:12vmin;
  }
  @include responsive("large"){
    height:12vmin;
  }
  h1 {
    transform:scale(1);
    transition: transform 300ms ease-in-out;
    &:hover{
      transform:scale(1.05);
    }
  }
  &__text {
    @include basic_color;
    font-family: roboto;
    text-decoration: none;
    @include responsive("small"){
      font-family: roboto;
      text-decoration: none;
      font-size: 1.5em;
    }
    @include responsive("medium"){
      font-family: roboto;
      text-decoration: none;
      font-size: 1.8em;
    }
    @include responsive("large"){
      font-family: roboto;
      text-decoration: none;
      font-size: 1.8em;
    }
  }
}
.lien__resto{
  display:block;
  text-align: center;
  font-family: roboto;
  font-size: 1em;
  color:#414141;
  @include responsive("small"){
    font-size:1.2em;
  }
  @include responsive("medium"){
    font-size:1.4em;
  }
}
.foot {
  @include basic_color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  height: 12vmin;
  margin-top: 2vmin;
  @include responsive("small"){
  height: 8vmin;
  }
  @include responsive("large"){
    height:6vmin;
    }
  a:hover {
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;
  }
  &__text {
    @include basic_color;
    font-family: roboto;
    font-size: 1em;
    padding: 0vmin 3vmin 0vmin 3vmin;
    @include responsive("small"){
      font-size: 1.2em;
    }
    @include responsive("medium"){
      font-size: 1.5em;
    }
  }
}
a {
  text-decoration: none;
}
.prochainement {
  @include basic_color;
  font-family: roboto;
  border-radius: 5px;
  width: 60%;
  height: 2.5em;
  margin: 0vmin auto 15vmin auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  @include responsive("medium"){
    width:50%;
    height: 2.8em;
    font-size: 1.5em;
    margin: 0vmin auto 10vmin auto;
  }
  @include responsive("large"){
    width:30%;
    height: 2.4em;
    margin: 10vmin auto 0vmin auto;
  }
  &__point1 {
    @include jump;
    animation-name: jumpdot;
  }
  &__point2 {
    @include jump;
    animation-name: jumpdot;
    animation-delay: 300ms;
  }
  &__point3 {
    @include jump;
    animation-name: jumpdot;
    animation-delay: 600ms;
  }
}

.menublock {
  display: flex;
  flex-direction: column;
  @include responsive("medium"){
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  @include responsive("large"){
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
  }

}
.menu {
  box-shadow: 0px 0px 8px 1px rgb(162, 165, 164);
  border-radius: 5px;
  width: 80%;
  height: 120vmin;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include responsive("medium"){
    height: 60vmin;
  }
  @include responsive("large"){
    height: 55vmin;
  }
  &__note {
    font-family: Devonshire, cursive;
    border-radius: 5px;
    height: 100%;
    margin: auto;
    background: #f8e5e1;
    align-items: center;
    h3 {
      @include color_note;
      font-size: 2em;
      @include responsive("small"){
      font-size:2.8em;
      }
      @include responsive("medium"){
      margin-top:1vmin;
      }
    }
    h2 {
      @include color_note;
      font-family: tillana, cursive;
      font-size: 2em;
      font-weight: bold;
      @include responsive("small"){
        font-size:2.8em;
        }
    }
    img {
      width: 20%;
      height: auto;
      margin-top: 25vmin;
      @include responsive("small"){
      width:25%;
      height: auto;
      }
      @include responsive("medium"){
      margin-top: 10vmin;
      }
    }
    a {
      text-decoration: none;
      display: block;
      width: 100%;
      height:100%;
      transform:scale(1);
      transition: transform 300ms ease-in-out;
      opacity:1;
      &:hover{
        transform:scale(1.05);
        opacity: 0.8;
      }
    }
  }
  &__chic {
    font-family: "Croissant One";
    border-radius: 5px;
    height: 100%;
    margin: auto;
    background: #fff5fe;
    position: relative;
    h3 {
      @include gradient_chic;
      margin-top: 40vmin;
      font-size: 1.6em;
      padding: 0vmin 3vmin 0vmin 3vmin;
      @include responsive("small"){
      font-size:2em;
      }
      @include responsive("medium"){
      margin-top: 20vmin;
      }
    }
    h2 {
      @include gradient_chic;
      font-family: tillana, cursive;
      font-size: 2em;
      font-weight: bold;
      @include responsive("small"){
      font-size:2.8em;
      }
    }
    a {
      @include a_position;
      opacity: 1;
    }
  }
  &__delice {
    font-family: parisienne;
    border-radius: 5px;
    height: 100%;
    margin: auto;
    background: #edefef;
    position: relative;
    h3 {
      @include gradient_delice;
      margin-top:40vmin;
      font-size: 2em;
      padding: 0vmin 3vmin 0vmin 3vmin;
      @include responsive("small"){
      font-size:2.4em;
      }
      @include responsive("medium"){
      margin-top: 20vmin;
      }
    }
    h2 {
      @include gradient_delice;
      font-family: tillana, cursive;
      font-size: 2em;
      font-weight: bold;
      @include responsive("small"){
      font-size:2.8em;
      }
    }
    a {
      @include a_position;
      opacity: 1;
    }
  }
  &__palette {
    font-family: "Kaushan script";
    border-radius: 5px;
    height: 100%;
    margin: auto;
    background: #fdfffd;
    position: relative;
    h3 {
      @include gradient_palette;
      margin-top:40vmin;
      font-size: 2em;
      padding: 0vmin 3vmin 0vmin 3vmin;
      @include responsive("small"){
      font-size:2.4em;
      }
      @include responsive("medium"){
      margin-top: 20vmin;
      }
    }
    h2 {
      @include gradient_palette;
      font-family: tillana, cursive;
      font-size: 2em;
      @include responsive("small"){
      font-size:2.8em;
      }
    }
    a {
      @include a_position;
      opacity: 1;
    }
  }
}
.note {
  @include card;
  @include color_note;
  background:#f8e5e1;
  font-family: tillana, cursive;
  &__title {
    font-size: 2.5em;
    font-family: devonshire,cursive;
    font-weight: 300;
    text-align: center;
    @include responsive("small"){
    font-size:3.5em;
    }
    @include responsive("medium"){
      font-size:3.8em;
    }
    @include responsive("large"){
      font-size:4.5em;
    }
  }
  &__undertitle {
    @include undertitle;
    font-size: 1.2em;
    img {
      width: 25%;
    }
  }
  &__undertitle--lined {
    @include lined-note;
    @include responsive("small"){
      font-size: 1.5em;
    }
    @include responsive("medium"){
      font-size: 1.8em;
    }
    @include responsive("large"){
      font-size:2em;
    }
  }
  &__undertitle--lined:hover {
    background-size: 100% 100%;
  }
  &__imgtop {
    width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vmin;
  }
  &__bottom {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 300;
    font-family: devonshire, cursive;
    @include responsive("medium"){
      font-size: 2.2em;
      img {
        width: 1.2em;
        height: auto;
      }
    }
  }
  ul {
    @include list_style;
    font-size: 1em;
    @include responsive("small"){
      @include fontsmall;
    }
    @include responsive("medium"){
      @include fontmid;
    }
    @include responsive("large"){
      display:flex;
      flex-wrap: wrap;
    }
  }
  .plat{
    @include responsive("large"){
      @include plat_large;
      }
    }
  .price {
    @include price_style;
    @include responsive("large"){
      @include price_large;
    }
  }
}
.palette {
  @include card;
  background:#fdfffd;
  font-family: tillana, cursive;
  font-size: 1em;
  &__title {
    @include gradient_palette;
    font-family: "Kaushan script";
    font-size: 2em;
    text-align: center;
    @include responsive("small"){
      font-size:2.5em;
    }
    @include responsive("medium"){
      font-size:3em;
    }
    @include responsive("large"){
      font-size:3.5em;
    }
  }
  &__undertitle {
    @include undertitle;
    font-family: tillana, cursive;
    font-size: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    @include responsive("medium"){
      img {
        width: 30%;
      }
    }
  }
  &__undertitle--lined {
    @include lined-palette;
    @include responsive("small"){
      font-size: 1.2em;
    }
    @include responsive("medium"){
      font-size: 1.4em;
    }
    @include responsive("large"){
      font-size: 1.7em;
    }
  }
  &__undertitle--lined:hover {
    background-size: 100% 100%;
  } 
  img {
    width: 25%;
  }
  ul {
    @include list_style;
    @include responsive("small"){
      @include fontsmall;
    }
    @include responsive("medium"){
      @include fontmid;
    }
    @include responsive("large"){
      display:flex;
      flex-wrap: wrap;
    }
  }
  .plat {
    @include responsive("large"){
      @include plat_large;
    }
  }
  .price {
    @include price_style;
    @include responsive("large"){
      @include price_large;
    }
  }
}
.chic {
  @include card;
  background:#fff5fe;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  &__title {
    @include gradient_chic;
    font-family: "Croissant One";
    font-size: 1.6em;
    text-align: center;
    @include responsive("small"){
      font-size:2em;
    }
    @include responsive("medium"){
      font-size:2.5em;
    }
    @include responsive("large"){
      font-size:2.8em;
    }
  }
  &__undertitlestart {
    color:#c77529;
    @include undertitle;
    font-size:1em;
    margin-right: 0.5em;
    margin-left:0.5em;
    @include responsive("medium"){
      img {
        width: 30%;
      }
    }
  }
  &__undertitlestart--lined {
    @include lined-start;
    @include responsive("small"){
      font-size: 1.5em;
    }
    @include responsive("medium"){
      font-size: 1.8em;
    }
    @include responsive("large"){
      font-size:2em;
    }
  }
  &__undertitlestart--lined:hover {
    background-size: 100% 100%;
  } 
  &__undertitlemain {
    color:#a56799;
    @include undertitle;
    font-size:1em;
    margin-right: 0.5em;
    margin-left:0.5em;
    @include responsive("medium"){
      img {
        width: 30%;
      }
    }
  }
  &__undertitlemain--lined {
    @include lined-main;
    @include responsive("small"){
      font-size: 1.5em;
    }
    @include responsive("medium"){
      font-size: 1.8em;
    }
    @include responsive("large"){
      font-size:2em;
    }
  }
  &__undertitlemain--lined:hover {
    background-size: 100% 100%;
  } 
  &__undertitledessert {
    color:#6e4ccc;
    @include undertitle;
    font-size:1em;
    margin-right: 0.5em;
    margin-left:0.5em;
    @include responsive("medium"){
      img {
        width: 30%;
      }
    }
  }
  &__undertitledessert--lined {
    @include lined-dessert;
    @include responsive("small"){
      font-size: 1.5em;
    }
    @include responsive("medium"){
      font-size: 1.8em;
    }
    @include responsive("large"){
      font-size:2em;
    }
  }
  &__undertitledessert--lined:hover {
    background-size: 100% 100%;
  } 
  img {
    width: 25%;
    }
  &__starter{
    @include list_style;
    color: #c77529;
    @include responsive("small"){
      @include fontsmall;
    }
    @include responsive("medium"){
      @include fontmid;
    }
    @include responsive("large"){
      font-size: 1.5em;
      display:flex;
      flex-wrap: wrap;
    }
  }
  &__maincourse{
    @include list_style;
    color: #a56799;
    @include responsive("small"){
      @include fontsmall;
    }
    @include responsive("medium"){
      @include fontmid;
    }
    @include responsive("large"){
      font-size: 1.5em;
      display:flex;
      flex-wrap: wrap;
    }
  }
  &__dessert{
    @include list_style;
    color: #6e4CCC;
    @include responsive("small"){
      @include fontsmall;
    }
    @include responsive("medium"){
      @include fontmid;
    }
    @include responsive("large"){
      font-size: 1.5em;
      display:flex;
      flex-wrap: wrap;
    }
  } 
  .plat {
    @include responsive("large"){
      @include plat_large;
    }
  }
  .price {
    @include price_style;
    @include responsive("large"){
      @include price_large;
    }
  }
}

.delice {
  @include card;
  background:#edefef;font-family: tillana, cursive;
  font-size: 1em;

  &__title {
    @include gradient_delice;
    font-family: parisienne;
    font-size: 2em;
    text-align: center;
    @include responsive("small"){
      font-size:2.5em;
    }
    @include responsive("medium"){
      font-size:3em;
    }
    @include responsive("large"){
      font-size:3.5em;
    }
  }

  &__undertitle {
    font-family: tillana, cursive;
    @include undertitle;
    font-size: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    @include responsive("medium"){
      img {
        width: 30%;
      }
    }
  }
  &__undertitle--lined {
    @include lined-delice;
    @include responsive("small"){
      font-size: 1.2em;
    }
    @include responsive("medium"){
      font-size: 1.4em;
    }
    @include responsive("large"){
      font-size: 1.7em;
    }
  }
  &__undertitle--lined:hover {
    background-size: 100% 100%;
  }  
  img {
    width: 25%;
  }
  ul {
    @include list_style;
    @include responsive("small"){
      @include fontsmall;
    }
    @include responsive("medium"){
      @include fontmid;
    }
    @include responsive("large"){
      display:flex;
      flex-wrap: wrap;
    }
  }
}
.plat {
  @include responsive("large"){
    @include plat_large;
  }
}
.price {
  @include price_style;
  @include responsive("large"){
    @include price_large;
  }
}
