// Le chic a la française menu style //

.chic {
    background:$background-chic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;

    @include card;
    
    img {
        width: 25%;
    }

// menu title //
    &__title {
        font-family: "Croissant One";
        font-size: 1.6em;
        text-align: center;

        @include gradient_chic;
            
        @include responsive("small") {
            font-size:2em;
        }

        @include responsive("medium") {
            font-size:2.5em;
        }

        @include responsive("large") {
            font-size:2.8em;
        }
    }
  
// menu starter undertitle //    
    &__undertitlestart {
        color:$chic-orange;
        font-size:1em;
        margin-right: 0.5em;
        margin-left:0.5em;

        @include undertitle;

        // menu starter undertitle effect //
        &--lined {
            @include lined-start;

            @include responsive("small") {
                font-size: 1.5em;
            }
            @include responsive("medium") {
                font-size: 1.8em;
            }
        }
    
        &--lined:hover {
            background-size:100% 100%;
        } 
    }



// menu  main undertitle //
    &__undertitlemain {
        color:$chic-purple;
        font-size:1em;
        margin-right: 0.5em;
        margin-left:0.5em; 

        @include undertitle;
            
// menu main undertitle effect //
        &--lined {
            @include lined-main;

            @include responsive("small") {
                font-size: 1.5em;
            }

            @include responsive("medium") {
                font-size: 1.8em;
            }

            @include responsive("large") {
                font-size:2em;
            }
        }
  
        &--lined:hover {
            background-size:100% 100%;
        } 
    }
  

  
// menu dessert undertitle //
    &__undertitledessert {
        color:$chic-blue;
        font-size:1em;
        margin-right: 0.5em;
        margin-left:0.5em;

        @include undertitle;

// menu dessert undertitle effect
        &--lined {
            @include lined-dessert;

            @include responsive("small") {
                font-size: 1.5em;
            }

            @include responsive("medium") {
                font-size: 1.8em;
            }

            @include responsive("large") {
                font-size:2em;
            }
        }
  
        &--lined:hover {
            background-size: 100% 100%;
        } 
    }
  
//starter list style //
    &__starter{
        color: $chic-orange;

        @include list_style;
        
        @include responsive("small") {
            @include fontsmall;
        }

        @include responsive("medium") {
            @include fontmid;
        }

        @include responsive("large") {
            font-size: 1.5em;
            display:flex;
            flex-wrap: wrap;
        }
    }
// main list style //
    &__maincourse{
        color: $chic-purple;

        @include list_style;
        
        @include responsive("small") {
            @include fontsmall;
        }

        @include responsive("medium") {
            @include fontmid;
        }

        @include responsive("large") {
            font-size: 1.5em;
            display:flex;
            flex-wrap: wrap;
        }
    }
  
// dessert list style //
    &__dessert{
        color: $chic-blue;

        @include list_style;
        
        @include responsive("small") {
            @include fontsmall;
        }

        @include responsive("medium") {
            @include fontmid;
        }

        @include responsive("large") {
            font-size: 1.5em;
            display:flex;
            flex-wrap: wrap;
        }
    } 
}
  