// ohmyfood colors //



// header & footer colors //
$green:#579c87ff;
$yellow:#fdcb46ff;

// restaurant link colors //
$darkgrey:#414141;

// La note enchantée colors //
$pal-brown:#3d1319;
$background-note:#f8e5e1;

// La palette du gout colors //
$pal-green:#57a746;
$pal-lightgreen:#c2db76;
$background-pal:#fdfffd;

// le chic a la francaise colors //
$chic-orange:#c77529;
$chic-blue:#6e4ccc;
$chic-purple:#a56799;
$background-chic:#fff5fe;

// le delice des papilles colors //
$delice-blue:#3a4fa2;
$delice-lightblue:#4e96d1;
$background-delice:#edefef;