//--------Feuille de style OHMYFOOD---------//

//-----couleurs de base-----//

$green:#579c87ff;
$yellow:#fdcb46ff;

//-----Responsive-----//
$breakpoints: (
    "tablet": 499px,
    "desktop": 1024px,
);
@mixin responsive($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}

//---- Mixin----//

@mixin basic_color {
    background:$green;
    color:$yellow;
}
@mixin color_note {
    font-weight: 300;
    color: #3d1319;
}
@mixin gradient_chic {
    color: #c77529;
    background: linear-gradient(to right, #c77529 0%, #6e4ccc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin gradient_delice {
    color: #3a4fa2;
    background: linear-gradient(to right, #3a4fa2 0%, #4e96d1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin gradient_palette {
    color: #57a746;
    background: linear-gradient(to right, #57a746 0%, #c2db76 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin a_position {
    display: block;
    height:100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    text-decoration: none;
}
@mixin card {
    box-shadow: 0px 0px 8px 1px rgb(162, 165, 164);
    border-radius: 5px;
    width: 80%;
    padding: 1em 0em 1em 0em;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}
@mixin undertitle {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
@mixin list_style {
    list-style: none;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 0px;
    font-style: italic;
    }
@mixin price_style {
    font-size: 1em;
    font-weight:bold;
    font-style: normal;
    margin-top: 0.2em;
    margin-bottom: 0.5em;

}